/* Fonts */
@font-face {
    font-display: swap;
    font-family: 'NotoSansMyanmar';
    src:url(NotoSansMyanmar-Regular.woff) format('woff');
    unicode-range: U+1000-109F, U+A9E0-A9FF, U+AA60-AA7F; /* for codepoints in Myanmar ranges */
}

@font-face {
    font-display: swap;
    font-family: 'NotoSansKhmer';
    src:url(NotoSansKhmer-Regular.woff) format('woff');
    unicode-range: U+1780-17FF, U+19E0-19FF; /* for codepoints in Khmer ranges */
}
@font-face {
    font-display: swap;
    font-family: 'NotoSansThai';
    src:url(NotoSansThai-Regular.woff) format('woff');
    unicode-range: U+0E00-0E7F; /* for codepoints in Thai range */
}
@font-face {
    font-display: swap;
    font-family: 'NotoSansDevanagari';
    src:url(NotoSansDevanagari-Regular.woff) format('woff');
    unicode-range: U+0900-097F, U+A8E0-A8FF; /* for codepoints in Devanagari ranges */
}
@font-face {
    font-family: 'NotoSansLao';
    font-display: swap;
    src:url(NotoSansLao-Regular.woff) format('woff');
    unicode-range: U+0E80-0EFF /* for codepoints in Lao range */
}

@font-face {
	font-family: "JameelNooriNastaleeq";
    font-display: swap;
	src: url(JameelNooriNastaleeq.woff) format("woff");
	unicode-range: U+0600-06FF;
}

@font-face {
    font-family: "Bahij-Nazanin";
    font-display: swap;
    src: url(BahijNazanin-Regular.ttf) format("truetype");
	unicode-range: U+0600-06FF;
}

@font-face {
    font-family: 'Dwivehi Regular';
    font-display: swap;
    src: url(mvilhamregular.ttf) format('truetype');
    unicode-range: U+0780-07BF;
}

@font-face{
    font-family:paudakRegular;
    src: url(Padauk-Regular.woff) format('woff');
}

@font-face {
    font-family: 'OpenKhmerSchool';
    font-display: swap;
    src: url(OpenKhmerSchool-Regular.ttf) format('truetype');
    unicode-range: U+1780-17FF, U19E0-19FF;
}

@font-face {
    font-family: 'Phetsarath OT';
    font-display: swap;
    src: url(Phetsarath-OT.ttf) format('truetype');
    unicode-range: U+0E80-0EFF;
}

* {
    font-family: 'Bahij-Nazanin', 'Dwivehi Regular', JameelNooriNastaleeq,
			JameelNooriNastaleeq, NotoSansLao, NotoSansMyanmar, 
			NotoSansKhmer, NotoSansThai, NotoSansDevanagari, 
			Noto Sans, Arial, sans-serif;
}

[lang="pus"], [lang="ps"], .lang-pus {
	font-family: 'Bahij-Nazanin', JameelNooriNastaleeq, Noto Sans, Arial, sans-serif;
}

[lang="div"], [lang="dv"], .lang-div {
	font-family: 'Dwivehi Regular', Noto Sans, Arial, sans-serif;
}

/* Illustrations */
.container img {
	display:block;
	margin:auto;
    max-height: 70vh;
	max-width:100%;
}

html, body {
	font-family: JameelNooriNastaleeq, NotoSansLao, NotoSansMyanmar, NotoSansKhmer, NotoSansThai, NotoSansDevanagari, Noto Sans, Arial, sans-serif;
}
/* Book text */
p {
	font-size:20px;
}

/* Book title */
h1 {
	font-size:30px;
	text-align:center;
}

/* Book authors */
h2 {
	font-size:24px;
	text-align:center;
}

/* Layout for last page */
.copyright-page{
	margin:0px;
	padding:0px;
	border:0px;
	background-repeat:no-repeat;
}

#CopyrightHead{
	font-size:18px;
	text-align:center;
	margin-bottom: 0;
}

.CopyrightText{
	margin-top: 0;
	font-size:12px;
	padding:0 10px 0 10px;
	text-align: center;
}

.SubCopyrightText{
	font-size: 10px;
	padding:0 10px 0 10px;
}

/* TAF logo */
#logo1{
	display:block;
	width:300px;
	margin:auto;
}

/* CC-BY image */
#cc-img{
	display:block;
	width:100px;
	padding:0 10px 0 10px;
}

.names {
    text-align: center;
    display: block;
}

.letsreadlogo img {
    display: block;
    margin: 40px auto;
    max-width: 250px;
}