/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@300;700;800&family=Roboto+Condensed&display=swap');

@font-face {
    font-display: swap;
    font-family: 'NotoSansDevanagari';
    src:url(NotoSansDevanagari-Regular.woff) format('woff');
    unicode-range: U+0900-097F, U+A8E0-A8FF; /* for codepoints in Devanagari ranges */
}
@font-face {
    font-family: 'NotoSansDevanagari';
    font-style: normal;
    font-weight: normal;
    src:url(NotoSansDevanagari-Regular.woff) format('woff');
}

* {
    font-family: 'NotoSansDevanagari', Arial, sans-serif;
}

/* Illustrations */
.container img {
	display:block;
	margin:auto;
    max-height: 70vh;
	max-width:100%;
}

html, body {
	font-family: 'NotoSansDevanagari', Arial, sans-serif;
	$font-family-sans-serif: 'NotoSansDevanagari', sans-serif;
	$font-family-sans-serif: 'Noto Sans Devanagari', sans-serif;
    $font-family-monospace: 'Roboto Condensed', sans-serif;
}
/* Book text */
p {
	font-size:20px;
}

/* Book title */
h1 {
	font-size:30px;
	text-align:center;
}

/* Book authors */
h2 {
	font-size:24px;
	text-align:center;
}

/* Layout for last page */
.copyright-page{
	margin:0px;
	padding:0px;
	border:0px;
	background-repeat:no-repeat;
}

#CopyrightHead{
	/* font-size: 18px; */
	font-size:22px;
	text-align:center;
	margin-bottom: 0;
}

.CopyrightText{
	margin-top: 0;
	/* font-size: 12px; */
	font-size:16px;
	padding:0 10px 0 10px;
	text-align: center;
}

.SubCopyrightText{
	/* font-size: 10px; */
	font-size: 18px;
	padding:0 10px 0 10px;
}

/* TAF logo */
#logo1{
	display:block;
	width:300px;
	margin:auto;
}

/* CC-BY image */
#cc-img{
	display:block;
	width:100px;
	padding:0 10px 0 10px;
}

.names {
    text-align: center;
    display: block;
}

.letsreadlogo img {
    display: block;
    margin: 40px auto;
    max-width: 250px;
}