/*-- scss:defaults --*/

// fonts
//@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Roboto+Mono:wght@300&family=Sanchez&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Nunito+Sans:wght@200&family=Roboto+Mono:wght@300&family=Sanchez&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@300;800&family=Roboto+Mono:wght@300;400&family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@300;700;800&family=Roboto+Condensed&display=swap');

// Fonts (CSS rules)
//$font-family-sans-serif: 'Nunito', sans-serif;
//$font-family-serif: 'Sanchez', serif; 
//$font-family-sans-serif: 'Montserrat', sans-serif;

$font-family-sans-serif: 'Noto Sans Devanagari', sans-serif;
$font-family-monospace: 'Roboto Condensed', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;


